@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
<<<<<<< HEAD
    background: #ececec;
}
.main{
    width: 1100px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 700px;
}
.container{
    width: 500px;
    border-radius: 5px;
    border-color: blue;
    border-width: 5px;
    background-color: crimson;
    padding-left: 100px;
    padding-right: 100px;
}
.contain{
    width: 500px;
    border-radius: 5px;
    border-color: blue;
    border-width: 5px;
    background-color: white;
    height: 400px;
=======
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

>>>>>>> 75c8f8a8f3dca34cbb846c72bfbf7c276b4fc4fe
}